* {
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
.font {
  font-family: "Bubblegum Sans", cursive;
}
section {
  margin: auto 17.3rem;
}
#top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 8.5rem;
}
#top-menu :nth-child(2) a {
  color: #8c2e91;
  font-weight: bold;
  font-size: 1.2rem;
}
.logo-img {
  width: 239px;
}
#buy-btn,
#buy-btn2 {
  color: #ffffff;
  border: none;
  background-color: #8c2e91;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}
#first-part {
  display: flex;
  justify-content: space-between;
  margin-top: 13rem;
}
.first-part-text {
  color: #8c2e91;
  font-size: 1.4rem;
}
.title {
  font-weight: bolder;
  color: #84be7a;
  margin-top: 2rem;
  line-height: 4rem;
}
.pro-img {
  width: 33.5rem;
}
#second-part {
  margin-top: 8.5rem;
  background-color: #e44c32;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 5rem;
  width: auto;
  flex-wrap: wrap;
}
.item-img {
  width: 5.7rem;
}
.item-img-ex {
  width: 7.7rem;
}
.fu-item {
  text-align: center;
}
.fu-item p {
  margin-top: 1rem;
  font-size: 1.4rem;
}
#part-three {
  margin: 8rem 33%;
  text-align: center;
  color: #84be7a;
  font-size: 1.4rem;
}
footer {
  background-color: #76c8da;
  padding: 3rem 3.3rem;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1.2rem;
}
.footer-socials i {
  font-size: 2rem;
  margin: 1.5rem;
}
.footer-socials i:nth-of-type(1) {
  margin-left: 0 !important;
}

h1 {
  font-size: 4.2rem;
}

@media screen and (max-width: 1400px) {
  section {
    margin: auto 10rem;
  }
  footer {
    justify-content: space-between;
    padding: 3rem 12.3rem;
  }
  #second-part {
    padding: 4.5rem;
  }
  #part-three {
    margin: 8rem 25%;
  }
}
@media screen and (max-width: 1200px) {
  #top-menu {
    margin: 1.5rem 6rem;
  }
  section {
    margin: auto 8.5rem;
  }
  .title {
    margin-top: 1rem;
    font-size: 4rem;
  }
  #first-part {
    margin-top: 10rem;
  }
  .first-part-text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 992px) {
  #top-menu {
    margin: 1.5rem 4.5rem;
  }
  section {
    margin: auto 4.5rem;
  }
  .title {
    margin-top: 0.5rem;
    font-size: 4rem;
  }
  #first-part {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .first-part-text {
    font-size: 1.2rem;
  }
  #buy-btn,
  #buy-btn2 {
    font-size: 1.1rem;
  }
  .pro-img-parent {
    text-align: center;
    margin-bottom: 2rem;
  }
  .fu-item p {
    font-size: 1.2rem;
  }
  #second-part {
    margin-top: 6rem;
  }
  #part-three {
    margin: 6rem 20%;
  }
  footer {
    padding: 2.5rem 7.3rem;
  }
}
@media screen and (max-width: 768px) {
  #top-menu {
    margin: 1.5rem 2.5rem;
  }
  section {
    margin: auto 4.5rem;
  }
  .title {
    margin-top: 0.5rem;
    font-size: 4rem;
  }
  #first-part {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .first-part-text {
    font-size: 1.2rem;
  }
  #buy-btn,
  #buy-btn2 {
    font-size: 1.1rem;
  }
  .pro-img-parent {
    text-align: center;
    margin-bottom: 2rem;
  }
  #second-part {
    padding: 1.5rem;
  }
  .item-img {
    width: 4.5rem;
  }
  .item-img-ex {
    width: 6.1rem;
  }
  .fu-item p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 660px) {
  .logo-img {
    width: 170px;
  }
  footer {
    padding: 3rem 4.3rem;
  }
  .fu-item p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 582px) {
  #top-menu {
    margin: 1.5rem 1.5rem 0 1.5rem;
    flex-direction: column;
  }
  #top-menu :first-child {
    margin-bottom: 0.8rem;
  }
  section {
    margin: auto 2.5rem;
  }
  .title {
    margin-top: 0.5rem;
    font-size: 3.6rem;
  }
  #first-part {
    margin-top: 1.5rem;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  #part-three {
    margin: 4.5rem 10%;
  }
  #second-part {
    margin-top: 4.5rem;
  }
}
@media screen and (max-width: 370px) {
  .title {
    font-size: 3rem;
  }
  #top-menu :nth-child(2) {
    text-align: center;
  }
  #buy-btn,
  #buy-btn2 {
    font-size: 1rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
/* ---------------------------------edu------------------------------------- */
.modal-body a {
  color: #76c8da;
}
.edu-img {
  border-radius: 15px;
}
.edu-img:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type="checkbox"]:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}

section {
  z-index: 100;
}
.modal-overlay-edu {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal-content-edu {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  padding: 3rem 10rem;
}
.modal-footer {
  justify-content: center !important;
}
.message {
  display: none;
  color: rgb(165, 35, 35);
  font-size: 0.8rem;
}
#scroll-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #f3a739;
  display: none;
  opacity: 0;
  transition: all 600ms ease-in;
}
.is-visible {
  display: block !important;
  opacity: 1 !important;
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .modal-content-edu {
    padding: 3rem 5.5rem;
  }
}
@media screen and (max-width: 992px) {
  .modal-content-edu {
    padding: 2.5rem 3rem;
  }
  .modal-body p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .modal-content-edu {
    padding: 2rem 2rem;
  }
  .modal-body p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 582px) {
  .modal-content-edu {
    width: 85%;
  }
  .title .font {
    font-size: 3.5rem;
  }
  .title h3 {
    font-size: 2rem !important;
  }
}
