* {
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
.font {
  font-family: "Bubblegum Sans", cursive;
}
section {
  margin: auto 17.3rem;
}
#top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 8.5rem;
}
#top-menu :nth-child(2) a {
  color: #8c2e91;
  font-weight: bold;
  font-size: 1.2rem;
}
.logo-img {
  width: 239px;
  height: 64px;
}
#buy-btn {
  color: #ffffff;
  border: none;
  background-color: #8c2e91;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}
#first-part {
  display: flex;
  justify-content: space-between;
  margin-top: 13rem;
  /* align-items: center; */
}
.first-part-text {
  color: #8c2e91;
  font-size: 1.4rem;
}
.title {
  font-weight: bolder;
  color: #84be7a;
  margin-top: 2rem;
  line-height: 4rem;
}
.pro-img {
  width: 33.5rem;
}
#second-part {
  margin-top: 8.5rem;
  background-color: #e44c32;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 5rem;
  width: auto;
  flex-wrap: wrap;
}
.item-img {
  width: 5.7rem;
}
.item-img-ex {
  width: 7.7rem;
}
.fu-item {
  text-align: center;
}
.fu-item p {
  margin-top: 1rem;
  font-size: 1.4rem;
}
#part-three {
  margin: 8rem 39rem;
  text-align: center;
  color: #84be7a;
  font-size: 1.4rem;
}
footer {
  background-color: #76c8da;
  padding: 3rem 17.3rem;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1.2rem;
}
.footer-socials i {
  font-size: 2rem;
  margin: 1.5rem;
}
.footer-socials i:nth-of-type(1) {
  margin-left: 0 !important;
}

h1 {
  font-size: 4.2rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
}
nav .navbar-nav li a:not(.active) {
  color: #fff !important;
}

nav .navbar-nav li a:not(.active):hover {
  color: #f3a739 !important;
}

.navbar-nav :nth-child(2) {
  margin: auto 1rem !important;
}
.futures {
  display: flex;
  justify-content: space-around;
  padding: 3rem 3rem;
  margin-top: 5rem;
  text-align: center;
  /* position: absolute;
  bottom: 2rem;
  left: 15%; */
}
.futures div {
  background-color: #6fc172;
  border-radius: 50%;
  height: 9rem;
  font-size: 1.2rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: #fff;
}
.futures > :first-child {
  border: 1rem solid #e44c32;
}
.futures > :nth-child(2) {
  border: 1rem solid #8c2e91;
}
.futures > :nth-child(3) {
  border: 1rem solid #f3a739;
}
.futures > :nth-child(4) {
  border: 1rem solid #b6cb40;
}
.futures p {
  font-size: 1.5rem;
}
.item {
  /* line-height: 3.8rem; */
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .navbar-toggler-ico {
    color: #f3a739 !important;
    box-shadow: none;
  }
  .navbar-toggler {
    border-color: #f3a739 !important;
  }

  nav .active {
    border: none;
  }
  .navbar-nav :nth-child(2) {
    margin: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .pro-img {
    width: 20rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.4rem;
    text-align: center;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .pro-img {
    margin-top: 2rem;
  }
  .logo {
    width: 10rem;
  }
  .navbar-toggler {
    text-align: center;
  }
}

/* ------------------------------ gallery ------------------------------- */
.main-gallery {
  background-image: url(./images/101-1017513_back-gallery-for-children-wallpaper-background-childrens-day.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2rem;
}
.gallery-img {
  opacity: 0.95;
  height: 300px;
  width: 100%;
}
.gallery-img:hover {
  cursor: pointer;
}
#gallery-modal .modal-img {
  width: 100%;
}
/* ---------------------------------edu------------------------------------- */
.edu-img {
  border-radius: 15px;
}
.edu-img:hover {
  cursor: pointer;
}
/* .card {
  width: 82%;
} */

input[type="checkbox"] {
  display: none;
}

/* Flip Cards CSS */
/* .card-container {
  display: grid;
  perspective: 700px;
} */

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type="checkbox"]:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}

section {
  z-index: 100;
}
.modal-overlay-edu {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal-content-edu {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  padding: 3rem 10rem;
}
.modal-footer {
  justify-content: center !important;
}
.message {
  display: none;
  color: rgb(165, 35, 35);
  font-size: 0.8rem;
}
#scroll-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #f3a739;
  display: none;
  opacity: 0;
  transition: all 600ms ease-in;
}
.is-visible {
  display: block !important;
  opacity: 1 !important;
}
